<!-- Application Footer: Start -->
<div
  class="row d-flex flex-column gap-3 bg-secondary bg-opacity-50 w-100 m-0 pt-5 pb-3"
>
  <div class="row d-flex justify-content-center">
    <div class="row col-10">
      <div class="col-4 d-flex flex-column gap-3">
        <span class="h5">About</span>
        <p>
          The standard chunk of Lorem Ipsum used since the 1500s is reproduced
          below for those interested. Sections 1.10.32 and 1.10.33 from "de
          Finibus Bonorum et Malorum" by Cicero.
        </p>
      </div>
      <div class="row col-8">
        <!-- Contacts -->
        <div class="col d-flex flex-column gap-3">
          <span class="h5">Contacts</span>
          <ul class="" style="margin: 0; padding: 0">
            <li class="list-group-item">
              <span class="h6">Phone:</span> &nbsp;<i>+255717963697</i>
            </li>
            <li class="list-group-item">
              <span class="h6">WhatsApp:</span> &nbsp;<i>+255789101112</i>
            </li>
            <li class="list-group-item">
              <span class="h6">Email:</span> &nbsp;<i>mohamed@gmail.com</i>
            </li>
            <li class="list-group-item">
              <span class="h6">P.O.Box:</span> &nbsp;<i>123 Ilala, Tanzania</i>
            </li>
          </ul>
        </div>
        <!-- Links -->
        <div class="col d-flex flex-column gap-3">
          <span class="h5">Links</span>
          <ul class="" style="margin: 0; padding: 0">
            <li class="list-group-item">
              <a href="#" class="footer-link">About Us</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="footer-link">Categories</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="footer-link">Latest Posts</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="footer-link">Our Partners</a>
            </li>
          </ul>
        </div>
        <!-- Analytics -->
        <div class="col d-flex flex-column gap-3">
          <span class="h5">Analytics</span>
          <ul class="" style="margin: 0; padding: 0">
            <li class="list-group-item">
              <span class="h6">Total Visitors:</span> &nbsp;<i>5,796,3697</i>
            </li>
            <li class="list-group-item">
              <span class="h6">This Month:</span> &nbsp;<i>3,250,743</i>
            </li>
            <li class="list-group-item">
              <span class="h6">This Week:</span> &nbsp;<i>156,350</i>
            </li>
            <li class="list-group-item">
              <span class="h6">Today:</span> &nbsp;<i>12,345</i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <span>&copy; 2023 Blog App. All Rights Reserved.</span>
  </div>
</div>
<!-- Application Footer: End -->
